<h1>Meme <%= @meme.id %></h1>

<h2>Details</h2>
<ul>
  <li><%= link_to "Run #{@meme.run_id}", :controller => :runs, :action => :show, :id => @meme.run_id %></li>
  <li>Meme Head: <%= link_to @meme.item.title, @meme.item.link %></li>
</ul>

<h2>Molotov</h2>
<embed src="/flash/Molotov.swf" flashvars="meme_id=<%= @meme.id %>" id="Molotov" quality="high" bgcolor="#ffffff" name="Molotov" allowscriptaccess="sameDomain" pluginspage="http://www.adobe.com/go/getflashplayer" type="application/x-shockwave-flash" align="middle" height="400" width="1000">

<h2>Related Items (Nodes)</h2>
<table>
  <tr>
    <th>Item ID</th>
    <th>Title</th>
  </tr>
  <% for item in @meme.items.sort_by{ |i| i.id } %>
  <tr>
    <td><%= item.id %></td>
    <td><%= link_to item.title, item.link %></td>
  </tr>
  <% end %>
</table>

<h2>Connections (Edges)</h2>
<table>
  <tr>
    <th>Item ID</th>
    <th>Related Item ID</th>
    <th>Cosine Similarity</th>
  </tr>
  <% for ir in @meme.item_relationships.sort_by{ |r| r.cosine_similarity }.reverse %>
  <tr>
    <td><%= ir.item_id %></td>
    <td><%= ir.related_item_id %></td>
    <td><%= ir.cosine_similarity %></td>
  </tr>
  <% end %>
</ul>

