<h2>Log in</h2>

<% form_tag session_path do -%>
<div class="grid_8 alpha">
  <h3>Log in with your OpenID</h3>
  <p><label for="openid_url">OpenID URL</label> <%= text_field_tag "openid_url" %></p>
  <p><%= check_box_tag 'remember_me', '1', @remember_me, :style => "vertical-align: middle;" %> <%= label_tag 'remember_me', 'Remember me', :style => "display: inline; vertical-align: middle;" %></p>
  <p><%= submit_tag 'Log in' %></p>
  <p><%= link_to "What is OpenId?", "http://openid.net/what/", :target => "_blank" %></p>
</div>

<div class="grid_8 omega">
  <h3>Log in with your local account</h3>
  <p><%= label_tag 'login' %> <%= text_field_tag 'login', @login %></p>
  <p><%= label_tag 'password' %> <%= password_field_tag 'password', nil %></p>
  <p><%= check_box_tag 'remember_me', '1', @remember_me, :id => "remember_me_2", :style => "vertical-align: middle;" %> <%= label_tag 'remember_me_2', 'Remember me', :style => "display: inline; vertical-align: middle;" %></p>
  <p><%= submit_tag 'Log in' %></p>
  <p>Don't have an account?  <%= link_to "Sign up", signup_path %></p>
</div>

<% end -%>
