<h2>Upload an OPML file</h2>

<% if params[:opml_file].nil? %>

<% form_tag( { :controller => :opml, :action => :upload }, :multipart => true) do %>
<p>
  <%= label_tag "opml_file", "OPML File" %>
  <%= file_field_tag "opml_file" %>
</p>
<p>
  <%= label_tag "commit", "Submit" %>
  <%= submit_tag "Upload OPML File" %>
</p>
<% end %> 

<% else %>
<p>Uploaded <%= @opml.feed_uris.size %> feeds, <%= link_to "go see them", :controller => :opml, :action => :show %>.</p>
<% end %>
