<h2>Edit Account Information</h2>

<div class="grid_8 alpha">
<% form_for @user do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <p><%= label_tag :user_submit, "Submit form" %> <%= f.submit "Update" %></p>
<% end %>
</div>

<div class="grid_8 omega">
  <%= render :partial => "account_information", :locals => { :user => @user } %>
</div>
