<h2><%= current_user.login %></h2>

<div class="grid_8 alpha">
  <h3>Things to do</h3>
  <ul>
    <li><%= link_to "Upload an OPML file", :controller => :opml, :action => :upload %></li>
    <li><%= link_to "View subscribed feeds", :controller => :opml, :action => :show %> (<%= current_user.feeds.size %>)</li>
	<li><%= link_to "View your custom feed", :controller => :list_of_items, :u=>KEY.url_safe_encrypt64(current_user.id) %> </li>
    <li><%= link_to "Edit account information", edit_account_path %></li>
  </ul>
</div>

<div class="grid_8 omega">
  <%= render :partial => "account_information", :locals => { :user => @user } %>
</div>