<h1>Activate your account</h1>

<h2>Activate with password</h2>

<% form_for @user, :url => activate_path(@user.perishable_token), :html => { :method => :post } do |form| %>
	<%= form.error_messages %>

  <%= form.label :password, "Set your password" %><br />
  <%= form.password_field :password %><br />
  <br />
  <%= form.label :password_confirmation %><br />
  <%= form.password_field :password_confirmation %><br />
  <br />
	<%= form.submit "Activate" %>
  
<% end %>

