<% cache({ :action => "index", :id => @run.id, :flight => @flight.id, :user => current_user }) do %>

<% number_of_displayed_top_memes = 0 %>
<% number_of_displayed_middle_memes = 0 %>
<% number_of_displayed_bottom_memes = 0 %>

<% @memes.each_with_index do |meme, n| %>

<% if n < 3 %>

<% if n == 0 %>
<div id="top_memes">
<div class="container_<%= SiteController::MAX_NUMBER_OF_COLUMNS %>">
<h2 class="meme_grouping_title hide">Top Meme</h2>
<%= render :partial => "site/partials/top_meme", :locals => { :meme => meme } %>
</div>
</div><!-- top_memes -->
<div id="second_memes">
<div class="container_<%= SiteController::MAX_NUMBER_OF_COLUMNS %>">
<h2 class="meme_grouping_title hide">Secondary Memes</h2>
<% else %>

<%= render :partial => "site/partials/second_meme", :locals => { :meme => meme } %>
<%= cycle('', '<div class="clear"></div>', :name => "top_meme_count_breaks") %> 

<% end %>

<% elsif n < 6 %>

<% if n == 3 %>
</div><!-- second_memes container -->
</div><!-- second_memes -->
<div id="middle_memes">
<div class="container_<%= SiteController::MAX_NUMBER_OF_COLUMNS %>">
<h2 class="meme_grouping_title hide">Tertiary Memes</h2>
<% end %>

<%= render :partial => "site/partials/middle_meme", :locals => { :meme => meme } %>

<%= cycle("", "", '<div class="clear"></div>', :name => "middle_meme_count_breaks") %>

<% elsif n < 9 %>

<% if n == 6 %>
</div><!-- middle_memes container -->
</div><!-- middle_memes -->
<div id="fourth_memes">
<div class="container_<%= SiteController::MAX_NUMBER_OF_COLUMNS %>">
<% end %>

<%= render :partial => "site/partials/middle_meme", :locals => { :meme => meme } %>

<% else #  n >= 9 %>

<% if n == 9 %>
<div class="clear"></div>
</div><!-- fourth_memes container -->
</div><!-- fourth_memes -->
<div id="bottom_memes">
<div class="container_<%= SiteController::MAX_NUMBER_OF_COLUMNS %>">
<div class="grid_8">
<h2 class="meme_grouping_title">Below the Fold</h2>
<ul>
<% end %>

<li><% if ! meme.item.feed.logo.nil? %><%= link_to_item_with_tracking(image_tag(meme.item.feed.logo, :alt => meme.item.feed.title, :size => "16x16", :class => "feed_favicon", :style => "border-color: #D24A31;"), meme.item) %><% else %><%= link_to_item_with_tracking(image_tag("fauxvicon.gif", :alt => meme.item.feed.title, :size => "16x16", :class => "feed_favicon", :style => "border-color: #D24A31;"), meme.item) %><% end %><%= link_to_item_with_tracking(widow_prevention(meme.item.title), meme.item) %></li>

<% end %>


<% end %>
</ul>
</div>
<div class="grid_4">

  <h2>Archived</h2>
  <% if defined?(@run) %>
  <p id="next_or_previous">
    <% if defined?(@run) && ! @run.previous.nil? %>This edition of <a href="/">refinr</a> was published on <%= display_date(@run.ended_at) %> at <%= display_time(@run.ended_at) %>.  
    The <%= link_to "previous edition was posted on #{display_date(@run.previous.ended_at)} at #{display_time(@run.previous.ended_at)}", :controller => :site, :action => :index, :id => @run.previous.id %><% if ! @run.next.nil? %>, and the <%=  link_to "following edition was posted #{display_date(@run.next.ended_at)} at #{display_time(@run.next.ended_at)}", :controller => :site, :action => :index, :id => @run.next.id  %>.  The newest edition was <a href="/">published <%= time_ago_in_words(Run.current(@run.user_id).ended_at) %> ago</a><% end %><% end %>.
  </p>
  <% end %>

  <h2>Statistics</h2>
  <table style="width: 100%;">
    <tr>
      <td class="key">Memes Found</td>
      <td class="value"><%= @memes.size %></td>
    </tr>
    <tr>
      <td class="key">Articles Read</td>
      <td class="value"><%= @memes.map{ |m| m.distinct_meme_items(@run).size }.flatten.sum %></td>
    </tr>
    <tr>
      <td class="key">Words Tracked</td>
      <td class="value"><%= @memes.map{ |m| m.distinct_meme_items(@run).map{ |i| i.item.words.size } }.flatten.flatten.flatten.sum %></td>
    </tr>
  </table>

</div>
<div class="clear"></div>
</div><!-- bottom_memes container-->
</div><!-- bottom_memes -->

<div class="clear"></div>

<div id="current_version"><%= hidden_field_tag "version_loaded", @run.encrypted_id %></div>


<div id="updater" class="container_12 hide"></div>

<script type="text/javascript">
<% if params[:id].nil? -%>
// Check for new versions
$.timer(120000, function (timer) {
  $.get("/site/current", function(data){
    should_page_be_updated(data);
    try { pageTracker._trackPageview('/site/current'); } catch(err) {}
  });
});
<% end -%>
// Keep updated time in line
$.timer(60000, function(timer) {
  update_time();
});
</script>

<% end %>