<% handle_meme_column_assignment %>

<% for meme in @memes %>
    
    <div class="grid_<%= meme.number_of_columns %><% if meme.is_alpha %> alpha<% end %><% if meme.break_afterwards %> omega<% end %>">
      <div class="item">
        <h3 class="headline" style="font-size: <%= Math.sqrt(meme.z_score_strength).ceil %>20%;">
          <%= link_to @items_by_meme[meme.id].first.title, @items_by_meme[meme.id].first.link %>
        </h3>
        <div class="excerpt">
          <strong class="byline"><% if ! @items_by_meme[meme.id].first.author.nil? %><%= @items_by_meme[meme.id].first.author %> &middot; <% end %><%= link_to @items_by_meme[meme.id].first.feed.title, @items_by_meme[meme.id].first.link %></strong> 
          <%= excerpt(@items_by_meme[meme.id].first.content.gsub(/\<(.*?)\>/,''), '', :radius => 200) %>
        </div>
        <% if meme.number_of_columns > (SiteController::COLUMN_ZOOM_FACTOR) %>
        <div class="alternate_sources">
          <% for item in @items_by_meme[meme.id][1..2] %>
          <div class="" style=""><strong><%= link_to "#{item.feed.title}", item.link %></strong> &middot; <%= link_to "#{item.title}", item.link %></div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>

    <% if meme.break_afterwards == true %>
      <div class="clear"></div>
    <% end %>
  
<% end %>

<div class="clear"></div>

<p>R.<%= @run.id %> F.<%= @flight.id %></p>
