<% handle_meme_column_assignment %>

<% @memes.each_with_index do |meme, n| %>
    
    <% if n == 2 %>
    <div class="grid_12 alpha">
    <% end %>
    
    <div class="grid_<%= meme.number_of_columns %><% if meme.is_alpha %> alpha<% end %><% if meme.break_afterwards %> omega<% end %>">
      <div class="item">
        <h3 class="headline" style="font-size: <%= Math.sqrt(meme.z_score_strength).ceil %>30%;">
          <%= link_to @items_by_meme[meme.id].first.title, @items_by_meme[meme.id].first.link %>
        </h3>
        <div class="excerpt<% if meme.number_of_columns > (SiteController::COLUMN_ZOOM_FACTOR * 2) && meme.z_score_strength >= @memes.first.z_score_strength-1  %> grid_10 alpha<% end %>">
          <strong class="byline"><% if ! @items_by_meme[meme.id].first.author.nil? %><%= @items_by_meme[meme.id].first.author %> &middot; <% end %><%= link_to @items_by_meme[meme.id].first.feed.title, @items_by_meme[meme.id].first.link %></strong> 
          <%= excerpt(@items_by_meme[meme.id].first.content.gsub(/\<(.*?)\>/,''), '', :radius => 200) %>
        </div>
        <% if meme.number_of_columns > (SiteController::COLUMN_ZOOM_FACTOR * 2) && meme.z_score_strength >= @memes.first.z_score_strength-1 %>
        <div class="alternate_sources grid_6 omega">
          <h4>Read More</h4>
          <% @items_by_meme[meme.id][1..4].each_with_index do |item, c| %>
          <%= link_to "#{item.feed.title}", item.link %><% if c != @items_by_meme[meme.id][1..4].size-1 %>, <% end %>
          <% end %>
        </div>
        <div class="clear"></div>
        <% end %>
      </div>
    </div>

    <% if meme.break_afterwards == true %>
      <div class="clear"></div>
    <% end %>
    
    <% if n == @memes.size-1 %>
    </div><!-- grid12 -->
    <div class="grid_4 omega">
      <h3>I'm the sidebar</h3>
    </div>
    <% end %>
    
<% end %>

<div class="clear"></div>

<p>R.<%= @run.id %> F.<%= @flight.id %></p>
