<% cache({ :action => "meme", :id => params[:id], :flight => @flight.id }) do %>

<div class="meme_details">

<div class="grid_16 alpha omega">
  <% @meme.number_of_columns = 16 %>
  <% @meme.is_alpha = true %>
  <%= render :partial => "site/partials/generic_meme", :locals => { :item => @meme.item, :meme => @meme, :ignore_title_sizing => true } %>
</div>

<div class="clear"></div>

<div class="meme">

<div class="grid_4 alpha">
  <h3>Meme Strength Over Time</h3>
  <div id="meme_<%= @meme.id %>">
    <%= render :partial => "site/partials/meme_sparkline", :locals => { :meme => @meme }%>
  </div>
  <h4 style="margin-top: 1.5em;font-size: 1.3em;"><%= @meme.distinct_meme_items.map{ |mi| mi.item }.sort_by{ |i| i.published_at }.reverse.size %> Connected Items</h4>
  <table id="connected_items" width="100%" cellspacing="0" cellpadding="0">
    <% for item in @meme.distinct_meme_items.map{ |mi| mi.item }.sort_by{ |i| i.published_at }.reverse %>
    <tr>
      <td>
        <h3 class="title" style="font-size: 81%;"><%= link_to_item_with_tracking widow_prevention(item.title), item %></h3>
        <p class="byline"><%= render :partial => "favicon", :locals => { :item => item, :colored => true, :primary_item => @meme.item } %><%= render :partial => "byline", :locals => { :item => item } %></p>
        <p class="byline"><span class="published_at"><%= display_date(item.published_at) %> <%= display_time(item.published_at) %></span></p>
      </td>
    </tr>
    <% end %>
  </table>
</div>

<div class="grid_6">
  <h3>Tweets About '<%= @words_for_twitter_search.join(" ").strip %>'</h3>
  <div class="clear"></div>
  <div id="topical_tweets"><span id="loading_tweets">Loading tweets..<blink>.</blink></span></div>
  <script type="text/javascript">
    show_tweets(["<%= @words_for_twitter_search.join('","')%>"]);
  </script>
</div>

<div class="grid_2 omega">
  <div class="faded">
    &larr; Join the conversation on Twitter, just mention <a href="http://twitter.com/home?status=<%= @words_for_twitter_search.join(" ") %>"><%= @words_for_twitter_search.join(" and ") %></a> in a tweet or use the hashtag <a href="http://twitter.com/home?status=%23rfr<%= @meme.id %>">#rfr<%= @meme.id %></a>
  </div>
  <% have_displayed_image_title = false %>
  <% for item in @meme.distinct_meme_items.map{ |mi| mi.item }.sort_by{ |i| i.total_cosine_similarity(@meme.run) } %>
    <% if item.images.size != 0 %>
    <% if have_displayed_image_title == false %>  
    <h3 style="margin-top: 2.5em;">Images</h3>
    <% have_displayed_image_title = true %>
    <% end %>
      <% for image in item.images[0..0] %><% if ! image.local_src.nil? && image.width > 55 && image.height > 55 %>
      <div class="item_image_block" style="background-image: url(<%= image_path(image.local_src) %>);">
        <%= link_to_item_with_tracking "<span>#{item.feed.title}</span>", item %>
      </div>
      <% end %><% end %>
    <% end %>
  <% end %>
  </ul>
</div>

<div class="clear"></div>

</div>
</div>

<% end # cache %>