<div class="meme_details">


<div class="grid_4 alpha">
<h3>Top <%= @words.size %> Words</h3>
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <th class="grid_2 alpha">Word</th>
    <th class="grid_1 omega">Count</th>
  </tr>
  <% for word in @words %>
  <tr>
    <td class="grid_2 alpha"><%= word.word %></td>
    <td class="grid_1 omega"><%= word.number_of_occurances %></td>
  </tr>
  <% end %>
</table>
</div>

<div class="grid_12 omega">
  <% @meme.number_of_columns = 16 %>
  <%= render :partial => "site/partials/generic_meme", :locals => { :item => @meme.item, :meme => @meme, :ignore_title_sizing => true } %>
</div>

<div class="clear"></div>

<div class="grid_16 alpha omega">
  <% if @items.map{ |i| i.content }.flatten.join(" ").match(/src=\"(http\:\/\/.*?\.jpg|png|gif)\"/) %>
  <h3>Associated Images</h3>
  <% c = 1 %>
  <% for item in @items %>
    <% if item.content.match(/src=\"(http\:\/\/.*?\.jpg|png|gif)\"/) %>
      <% item.content.scan(/src=\"(http\:\/\/.*?\.jpg|png|gif)\"/).each do |img_src| %>
        <div class="grid_2 item_image_block<% if c == 1 %> alpha<% end %><% if c == 8 %> omega<% end %>" style="background-image: url(<%= img_src %>);">
          <%= link_to_item_with_tracking "<span>#{item.feed.title}</span>", item %>
        </div>
        <% if c%8 == 0 %><div class="clear"></div><% c = 0 %><% end %>
        <% c += 1 %>
      <% end %>
    <% end %>
  <% end %>
  </ul>
  <% end %>
</div>

<div class="clear"></div>

<% if @meme.related_memes.size > 3 %>
<div class="grid_16 alpha omega">
  <h3>Meme Strength: <%= @meme.related_memes.last.created_at.strftime('%m/%d/%Y %I:%M%p') %> - <%= @meme.related_memes.first.created_at.strftime('%m/%d/%Y %I:%M%p') %></h3>
  <script type="text/javascript" src="/javascripts/swfobject.js"></script>
  <%= @graph %>
</div>
<% end %>

<div class="clear"></div>

<div class="grid_16 alpha omega">
<h3><%= @items.size %> Connected Items</h3>
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <th class="grid_3 alpha">Published At</th>
      <th class="grid_8">Title</th>
      <th class="grid_5 omega">Author</th>
    </tr>
    <% for item in @items %>
    <tr>
      <td class="grid_3 alpha"><%= item.published_at.strftime('%m/%d/%Y %I:%M%p') %></td>
      <td class="grid_8">
        <%= link_to_item_with_tracking item.title, item %>
      </td>
      <td class="grid_5 omega"><div class="alternate_content"><% if ! item.author.nil? %><%= item.author %>, <% end %><%= link_to_item_with_tracking(item.feed.title, item) %></div></td>
    </tr>
    <% end %>
  </table>
</div>

<div class="clear"></div>

</div>

<p id="footer">&copy; 2009 <a href="http://www.magicbucketlabs.com/">Magic Bucket Labs</a></p>
