<div class="grid_<%= meme.number_of_columns %><% if meme.is_alpha == true %> alpha<% end %><% if meme.break_afterwards == true %> omega<% end %><% if defined?(extra_classes) %> <%= extra_classes %><% end %>">
  <div class="generic">
    <% if defined?(ignore_title_sizing) %>
    <h3 class="title"><%= link_to_item_with_tracking widow_prevention(item.title), item %></h3>
    <% else %>
    <h3 class="title"><%= link_to_item_with_tracking widow_prevention(item.title), item %></h3>
    <% end %>
    <p class="excerpt">
      <strong class="byline"><%= render :partial => "byline", :locals => { :item => item } %></strong>,
      <%= limit_text(:meme=>meme,:text=>item.content) %>
    </p>
  </div>
</div>
