<div class="second_story">

  <h3 class="title" style="font-size: <%= title_font_size(meme) %>;"><%= link_to_item_with_tracking widow_prevention(item.title), item %></h3>  

  <div class="grid_16 alpha omega">
    <p class="excerpt">
      <strong class="byline"><%= render :partial => "byline", :locals => { :item => item } %></strong>,
	  <%= limit_text(:meme=>meme,:text=>item.content,:max_col_char_limit=>300) %>
	  <% if current_user %>
      <%= meme_strength_trend(meme) %>
	    <%= link_to "#", :action => :meme, :id => meme.id %>
	  <% end %>
    </p>
  </div>
  
  <div class="alternate_content grid_16 alpha omega">
    <div class="list_of_alternate_content">
      <% @items_by_meme[meme.id][1..2].each_with_index do |alt_item, c| %>
      <div class="grid_8<% if c == 0 %> alpha<% elsif c == @items_by_meme[meme.id][1..2].size-1 %> omega<% end %>">
         <%= link_to_item_with_tracking widow_prevention(alt_item.title), alt_item %><br /><strong class="byline"><span class="website"><%= link_to_item_with_tracking alt_item.feed.title, alt_item %></span></strong></li>
      </div>
      <% end %>
      </ul>
    </div>
  </div>
    
  <div class="clear"></div>
  
</div>
