<div class="">

  <h3 class="title" style="font-size: <%= title_font_size(meme) %>;"><%= link_to_item_with_tracking item.title.gsub(/\[(.*?)\]/,''), item %></h3>  
  

  <div class="alternate_content grid_6 alpha">
    <div class="list_of_alternate_content">
      <ul>
      <% for alt_item in @items_by_meme[meme.id][1..2]%>
      <li><%= link_to_item_with_tracking alt_item.title, alt_item %><br /><strong class="byline"><span class="website"><%= link_to_item_with_tracking alt_item.feed.title, alt_item %></span></strong></li>
      <% end %>
      </ul>
    </div>
  </div>
  
  <div class="grid_10 omega">
    <p class="excerpt">
      <strong class="byline"><% if ! item.author.nil? %><span class="author"><%= item.author %> &middot; </span><% end %><span class="website"><%= link_to_item_with_tracking item.feed.title, item %></span>, </strong>
      <% if meme.number_of_columns > SiteController::COLUMN_ZOOM_FACTOR %>
        <%= item.content.split(/\<\/p\>/)[0..1].join(" ").gsub(/\<(.*?)\>/,'').split(/\. /)[0..2].join(". ").strip %>
      <% else %>
        <%= item.content.split(/\<\/p\>/)[0..1].join(" ").gsub(/\<(.*?)\>/,'').split(/\. /)[0..2].join(". ").strip[0..150] %>
      <% end %>
    </p>
  </div>
  
  <div class="clear"></div>
  
</div>
