<% meme.number_of_columns = 12 %>
<div id="meme_<%= meme.id %>" class="meme"> 
  <div class="grid_12">
    <h3 class="title"><%= link_to_item_with_tracking widow_prevention(meme.item.title), meme.item %></h3>
  </div>
  <div class="grid_8">
    <p class="excerpt"><%= render :partial => "byline", :locals => { :item => meme.item, :meme => meme } %>&nbsp;&mdash;&nbsp;<%= limit_text(:meme=>meme,:text=>meme.item.content) %></p>
    <div class="related_items">
      <%= render :partial => "site/partials/all_related_items", :locals => { :meme => meme, :primary_item => meme.item, :run => @run } %>
    </div>
  </div>
  <div class="grid_4">
    <h3 id="related">Top Related</h3>
    <ul class="alternate_content">
      <% for meme_item in meme.distinct_meme_items(@run)[1..2] %>
      <li>
        <% if ! meme_item.item.feed.logo.nil? %>
          <%= link_to_item_with_tracking(image_tag(meme_item.item.feed.logo, :alt => meme_item.item.feed.title, :size => "16x16", :class => "feed_favicon", :style => ""), meme_item.item) %>
        <% else %>
          <%= link_to_item_with_tracking(image_tag("fauxvicon.gif", :alt => meme_item.item.feed.title, :size => "16x16", :class => "feed_favicon", :style => ""), meme_item.item) %>
        <% end %>
        <%= link_to_item_with_tracking(widow_prevention(meme_item.item.title), meme_item.item) %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="clear"></div>  
</div>
