<h1>Runs</h1>

<table>
  <tr>
    <th>ID</th>
    <th>K</th>
    <th>N</th>
    <th>Max Mtch</th>
    <th>Min Cos</th>
    <th>Dist Terms</th>
    <th>Skip Single</th>
    <th># Memes</th>
    <th>Duration</th>
    <th>First Item</th>
    <th>Last Item</th>
    <th>&nbsp;</th>
  </tr>
  <% for run in @runs %>
  <tr>
    <td><%= run.id %></td>
    <td><%= run.k %></td>
    <td><%= run.n %></td>
    <td><%= run.maximum_matches_per_query_vector %></td>
    <td><%= run.minimum_cosine_similarity %></td>
    <td><%= run.distinct_term_count %></td>
    <td><%= run.skip_single_terms %></td>
    <td><%= run.memes.size %></td>
    <td><% if run.ended_at.nil? %>-<% else %><%= (run.ended_at - run.started_at) %>s<% end %></td>
    <td><% if ! run.memes.map{ |m| @item_hash[m.id].map{ |i| i.published_at }.min }.min.nil? %><%= run.memes.map{ |m| @item_hash[m.id].map{ |i| i.published_at }.min }.min.strftime('%y-%m-%d %H:%M') %><% end %></td>
    <td><% if ! run.memes.map{ |m| @item_hash[m.id].map{ |i| i.published_at }.max }.max.nil? %><%= run.memes.map{ |m| @item_hash[m.id].map{ |i| i.published_at }.max }.max.strftime('%y-%m-%d %H:%M') %><% end %></td>
    <td>
      <%= link_to "show", :controller => :runs, :action => :show, :id => run.id %> &middot;
      <%= link_to "view", :controller => :runs, :action => :view, :id => run.id %>
    </td>
  </tr>
  <% end %>
</table>
