<p><%= link_to "&laquo; back to all runs", :controller => :runs, :action => :index %></p>

<h1>Run <%= @run.id %></h1>
<p><%= link_to "view this run", :controller => :runs, :action => :view, :id => @run.id %></p>
<h2>Details</h2>
<table>
  <tr>
    <th>k</th>
    <th>n</th>
    <th>Minimum COS Similarity</th>
    <th>Maximum # Matches</th>
    <th>Date</th>
  </tr>
  <tr>
    <td><%= @run.k %></td>
    <td><%= @run.n %></td>
    <td><%= @run.minimum_cosine_similarity %></td>
    <td><%= @run.maximum_matches_per_query_vector %></td>
    <td><%= @run.created_at %></td>
  </tr>
</table>
  
<h2>Memes from run <%= @run.id %></h2>
<table>
  <tr>
    <th>Meme Head</th>
    <th>Items</th>
    <th>Connections</th>
  </tr>
  <% for meme in @memes -%>
  <tr>
    <td><%= link_to meme.item.title, :controller => :meme, :action => :show, :id => meme.id %></td>
    <td><%= meme.items.size %> items</td>
    <td><%= meme.meme_items.map{ |mi| mi.item_relationship_id }.size %> connections</td>
  </tr>
  <% end -%>
</table>

<h2>Graph</h2>
<embed src="/flash/Dependency.swf" flashvars="run_id=<%= @run.id %>" id="Dependency" quality="high" bgcolor="#efefef" name="Dependency" allowscriptaccess="sameDomain" pluginspage="http://www.adobe.com/go/getflashplayer" type="application/x-shockwave-flash" align="middle" height="1000" width="1000" />

<p><br /><%= link_to "&laquo; back to all runs", :controller => :runs, :action => :index %></p>