<h1>Run <%= @run.id %></h1>
<p><%= link_to "&laquo; back to all runs", :controller => :runs, :action => :index %>
<h2>Memes from run <%= @run.id %></h2>
<ul>
  <% for meme in @memes -%>
  <li><%= link_to meme.item.title, :controller => :meme, :action => :show, :id => meme.id %>
    <ul>
      <li><%= meme.items.size %> items</li>
      <li><%= meme.meme_items.map{ |mi| mi.item_relationship_id }.size %> connections</li>
    </ul>
  </li>
  <% end -%>
</ul>
