  <div id="about">
    <div class="grid_8 alpha">
      <p>This is <a href="/" style="color: #20232A; text-decoration: none; font-weight: bold;">refinr</a>, a new way to keep on top of technology news. Every half-hour we read hundreds of news sources from across the web and refine all that content down to just the most important bits.  We help you find all the news you need to stay up-to-the-minute in the world of technology.</p>
    </div>
    <div class="grid_4 omega">
      <p><strong>Now on Google!</strong>  Add us to your Google homepage to keep up with the latest technology news every time you open your browser. <br /><a href="http://fusion.google.com/add?source=atgs&moduleurl=http%3A//refinr.com/gadgets/google/refinr-gadget.xml" style="background-color: transparent;"><img src="http://buttons.googlesyndication.com/fusion/add.gif" border="0" alt="Add to Google"></a></p>
      <p>We'd love to hear from you.  Tell us how you're using the site, or how we could improve things. <a href="http://refinr.uservoice.com/pages/general" onclick="UserVoice.Popin.show(); return false;">Let us know how we can help you get the most out of <strong>refinr</strong></a>.</p>
    </div>
  </div>  
  <div class="clear"></div>
  <% if defined?(@run) %>
  <div class="grid_10 alpha omega">
    <p id="next_or_previous">
      <% if defined?(@run) && ! @run.previous.nil? %>This edition of <a href="/">refinr</a> was published on <%= display_date(@run.ended_at) %> at <%= display_time(@run.ended_at) %>.  
      The <%= link_to "previous edition was posted on #{display_date(@run.previous.ended_at)} at #{display_time(@run.previous.ended_at)}", :controller => :site, :action => :index, :id => @run.previous.id %><% if ! @run.next.nil? %>, and the <%=  link_to "following edition was posted #{display_date(@run.next.ended_at)} at #{display_time(@run.next.ended_at)}", :controller => :site, :action => :index, :id => @run.next.id  %>.  The newest edition was <a href="/">published <%= time_ago_in_words(Run.current(@run.user_id).ended_at) %> ago</a><% end %><% end %>.
    </p>
  </div>
  <% end %>
  <div class="clear"></div>
  <p id="footer">&copy; 2009 <a href="http://www.magicbucketlabs.com/">Magic Bucket Labs</a></p>
